blinker
click
colorama
Flask
flask_cors
routes
itsdangerous
Jinja2
MarkupSafe
Werkzeug
scikit-image
numpy==1.19.5
keras==2.4.3
tensorflow==2.4.0
opencv-python==4.4.0.44
keras-applications==1.0.8
keras-preprocessing==1.1.2
scipy==1.7.0
